/*元素CSS编写顺序：
第一层为影响此元素布局的：
如：float。
第二层为影响该元素内部布局的：
如：text-align。
第三层为样式：
如“color”。

BY iCE CUBE
*/
body {
    text-align: center;

    background-color: #F5F5F4;
    font-family: 微软雅黑;
}

#nav1 {
    /*返回主页按钮样式*/
    border-left: 5px solid red;
}

input {
    /*去除iOSinput特殊性*/
    outline: none;
    -webkit-appearance: none;
    border-radius: 0;
}

#popUp {
    /*弹窗*/
    display: none;
    position: fixed;
    background: black;
    height: 50px;
    width: 100%;
    z-index: 2;
    top: 45%;
    left: 0;

    text-align: center;
    line-height: 50px;

    opacity: 0.8;
    overflow: hidden;
}

#popUpText {
    /*弹窗内容*/
    display: inline;
    font-size: 10px;

    opacity: 1;
    color: white;
    font-weight: bold;
}

#developerOptions {
    /*开发者选项容器*/
    width: 80%;
    max-width:500px;
    position: fixed;
    bottom: 15%;
    right: -80%;
    z-index: 2;
    background: white;
    border-radius: 5px;
    transition:all 0.4s cubic-bezier(1,0,0,1) 0s;

    text-align: left;
    overflow: hidden;
}

#deBug1 {
    /*开发者选项输入栏*/

    width: 100%;
    margin-left: 5px;

    border-bottom: 1px solid black;
    border-top: none;
    border-left: none;
    border-right: none;
}

.executeInstructions {
    /*板块激活按钮*/
    width: 20px;
    height: 65px;
    float: right;
    font-size: 15px;

    color: red;
    font-weight: bold;
    background-color: red;
}

#developerOptionsLeft {
    /*开发者选项左侧容器*/
    margin-left: 2px;
    margin-top: 3px;
    width: 70%;
    height: 60px;

    display: inline-block;
}

#developerOptions h1 {
    /*开发者选项标题*/
    display: inline-block;
    width: 210px;
    height: auto;
    margin-top: 10px;
    margin-left: 5px;
    margin-bottom: 0px;

    font-size: 14px;
}

#menu {
    /*菜单*/
    position: fixed;
    bottom: 5%;
    right: 5%;
    width: 1cm;
    height: 1cm;
    z-index: 2;

    text-align: center;

    color: white;
    border-radius: 50%;
    background-color: red;
    border: 2px solid white;
    line-height: 1cm;
}

#header1 {
    /*网页顶部图像容器*/
    float: left;
    margin-left: -2.5%;
    margin-top: -2.5%;
    width: 105%;
    height: auto;

}

#topPic {
    /*网页顶部图像*/
    border-bottom: 2px solid white;
    max-width: 100%;
}

#occlusionLayer {
    /*遮挡层*/
    display: none;
    position: fixed;
    background: black;
    height: 100%;
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;

    opacity: 0.5;
}

.section1 {
    /*头像容器*/
    float: left;
    margin-top: 8px;
    margin-left: 8px;
    width: 45px;
    height: 45px;

    border-radius: 50%;
    overflow: hidden;
}

.section2 {
    /*页面说明容器*/
    text-align: left;
    float: left;
    margin-left: 2px;
    margin-top: 3px;
    width: 70%;
    height: 60px;

}

.section2 h1 {
    /*标题*/
    width: 210px;
    height: 30px;
    float: left;
    margin-top: 10px;
    margin-left: 5px;

    font-size: 14px;
}

.section2 p {
    /*标题下小字*/
    float: left;
    width: 100%;
    height: 30px;
    margin-top: -20px;
    margin-left: 5px;

    font-size: 8px;
    font-weight: normal;
}

.cover {
    /*头像*/
    max-width: 98%;
    border: 1px solid black;
    border-radius: 5px;
}

.avatar {
    /*图像*/
    max-width: 100%;
}

.article1 {
    /*段落*/
    display: inline-block;
    width: 95%;
    max-width: 700px;
    height: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 0px;
    padding-left: 10px;

    text-align: left;

    box-shadow: 0 6px 15px rgba(36, 37, 38, 0.1);
    border-left: 5px solid blue;
    border-radius: 5px;
    background-color: #FFFFFF;
}

h1 {
    /*文章标题*/
    margin-top: 8px;
    margin-bottom: 8px;
}

ul {
    padding-left: 20px;
}

li {
    padding-top: 5px;
}

p, li {
    /*文章内容*/
    font-size: 12px;
}
